<div class="container pb-5">
  <div class="d-flex flex-row justify-content-center">
    <h6 class="display-6 my-3 text-muted">Edit Post</h6>
  </div>
  <div class="container col-md-10">
    <form (submit)="onSaveEdits(post)" #post="ngForm" [ngClass]="(post.invalid && submitted) ? 'was-validated' : ''">
      <div class="row">
        <div class="col-md-6">
          <label for="postTitle" class="form-label"><em>Post Title</em></label>
          <input type="text" class="form-control" id="postTitle" aria-describedby="titleHelp" maxlength="40"
            minlength="3" required placeholder="Ex. COVID-19 Response" ngModel name="title" #title="ngModel">
          <div id="titleHelp" class="form-text">Create a concise and descriptive title for your post.</div>
        </div>
        <div class="col-md-6">
          <label for="postDepartment" class="form-label"><em>Department</em></label>
          <input type="text" class="form-control" list="departmentList" aria-describedby="departmentHelp"
            aria-label="Select or type a department" required ngModel name="department" #department="ngModel"
            placeholder="Ex. Water" minlength="2" maxlength="30"/>
          <datalist id="departmentList">
            <option *ngFor="let item of departments">{{item}}</option>
          </datalist>
          <div id="departmentHelp" class="form-text">Select OR type the department this post will be categorized under.</div>
        </div>
      </div>

      <br />
      <label for="postContent" class="form-label"><em>Content</em></label>
      <div id="contentHelp" class="form-text mb-2">
        The body of your post goes here, be as descriptive as you like. You can use markdown to better style your post.
        <br />
        <a href="https://www.markdownguide.org/cheat-sheet/" target="_blank" class="link-info">To view a Markdown
          Cheatsheet to help you style your post here, click here.</a>
      </div>
      <textarea class="form-control" id="postContent" rows="20" maxlength="1200" minlength="15" required
        placeholder="Ex. Steps to overcome the issue..." ngModel name="body" #body="ngModel"></textarea>
      <br>
      <button type="button" class="btn btn-success btn-lg" type="submit">Save changes</button>
    </form>
  </div>

</div>
