<div class="container pb-5">
  <div class="d-flex flex-row justify-content-center">
    <h6 class="display-6 my-3 text-muted">Viewing Post</h6>
  </div>

  <!-- <p class="my-0 text-muted text-muted"><small><em>Title</em></small></p> -->
  <h2 class="display-5">{{viewingPost?.title || "Missing Title"}}</h2>
  <p class="blockquote-footer my-0">{{viewingPost?.username!.split("@")[0] || "Missing username"}}
    &nbsp;&nbsp;|&nbsp;&nbsp;{{getDate(viewingPost?.timestamp) || "Missing timestamp"}}</p> 
  <br />
  <!-- <p class="my-0 text-muted text-muted"><small><em>Content</em></small></p> -->
  <div class="lead" [innerHtml]="viewingPost?.text"></div>
  

</div>
