/* You can add global styles to this file, and also import other style files */
/* hey */
html,
body {
  min-height: 100vh;
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height:100%;
}

.mat-icon {
  vertical-align: top;
}